@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');

:root{
    --primary-color: #D97706;
}
img {
    width: 200px;
}
#img-container {
    margin-top: 0.55rem;
}

header {
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: var(--primary-color);
    margin-top: 0;
    height: 5rem;
    width: 100%;
    padding-top: 0.5rem;
}

button {
    background-color: var(--primary-color);
    width: 7rem;
    height: 2rem;
    border-radius: 1rem 1rem;
}

h1 {
    margin-block-start: 0%;
    margin-block-end: 0%;
}
body {
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}
#txt-input {

    margin-top: 0.5rem;
    width: 13rem;
    height: 3rem;
    display: block;
}
#btn-translate {
    
    margin-top: 1rem;
    display: block;
    margin-bottom: 0.5rem;
}

textarea, button, #output {
    display: block;
    margin: auto;
}

#output {

    margin-top: 0.5rem;
    width: 13rem;
    height: 8rem;
    border: 1px solid black;
}

footer {
    border-radius: 1rem 1rem 0rem 0rem;
    margin-bottom: 0%;
    width: 100%;
    bottom: 0;
    padding: 0.5rem 0rem 0.5rem 0rem;
    background-color: var(--primary-color);
    margin-top: 1rem;
}